* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: #E5AE8A;
}

body {
  background-image: url("website-background.jpg");
  background-position: 50%; 
  background-size: cover;
  background-attachment: fixed;
}

.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21130D;
  width: 100vw;
  height: 5vh;
}

.top-nav a {
  display: flex;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  padding: 3px;
}

.top-nav a:hover {
  border: solid 1px #E5AE8A;
  padding: 0px 2px 0px 2px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.about-heading {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21130D95;
}

.rob-pic {
  width: 150px;
  height: 150px;
  margin: 2%;
  object-fit: cover;
  background-color: #E5AE8A;
  border-radius: 10%;
}

.description {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  background-color: #21130D95;
}

.p-holder {
  max-width: 800px;
  padding: 2% 2% 2% 2%;
}

.grid {
  display: grid;
  grid-gap: 3% 1%;
  width: 100%;
  margin-top: 1%;
	grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.skills {
  width: 100%;
  margin-top: 2%;
  text-align: center;
  padding: 2% 0% 2% 0%;
  background-color: #21130D95;
}

.ruby {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #21130D95;
}

.git {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: #21130D95;
}

.html {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #21130D95;
}

.css {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #21130D95;
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 50px;
  height: 50px;
  background-color: #E5AE8A;
  border-radius: 10%;
}

.icon {
width: 100%;
object-fit: contain;
display: block;
}

.text {
  margin: 0% 2% 2% 2%;
}

div {
  border-radius: 10px
}