* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: #E5AE8A;
}

body {
  background-image: url("website-background.jpg");
  background-position: 50%; 
  background-size: cover;
  background-attachment: fixed;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21130D;
  width: 100vw;
  height: 5vh;
}
.top-nav a {
  display: flex;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}

.container {
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-heading {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21130D85;
}

.rob-pic {
  width: 150px;
  height: 150px;
  background-color: #E5AE8A;
  border-radius: 20%;
}

.description {
  display: flex;
  width: 90%;
  margin-top: 2%;
  background-color: #21130D85;

}

.grid {
  display: grid;
  grid-gap: 5px 5px;
  width: 90%;
  margin-top: 2%;
	width: 90%;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: #21130D85;
}

.ruby {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #21130D85;
}

.git {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #21130D85;
}

.html {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: #21130D85;
}

.css {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #21130D85;
}