body {
  background-image: url("website-background.jpg");
  background-position: 47.2%; 
  background-size: cover;
  background-attachment: fixed;
 }

 .top-nav {
   display: flex;
   background-color: #060403;
  }
.top-nav a {
  text-decoration: none  #9D553A;
}